<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign in - MaMeLi</title>
        <link rel="stylesheet" href="/css/signup.css">
        <link rel="stylesheet" href="/css/productForm.css">
    </head>
    <body>
        <%- include('../partials/header') %>
        
        <% if(locals.mensajeError){%>
            <%for(let i=0; i<mensajeError.length; i++){%>
            <div class="cajaMensajeError">
                <div class="mensajeError"><p>   <%= mensajeError[i].msg %> </p></div>
            </div>
            <%}%> 
        <%}%>
        <main id="main">
            <div id="contenedor-general">
                <div id="div-icono">
                    <i id="icono" class="fas fa-user"></i>
                </div>
                <label id="bienvenida" class="labels-formulario">Registrate</label>
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                    <div class="div">
                        <label id="label-usuario" class="labels-formulario">Nombre</label>
                        <input type="text" name="user" id="input-usuario" value= <%= locals.old ? old.user : null %>  > 
                    </div>
                    <div class="div">
                        <label id="label-usuario" class="labels-formulario">Apellido</label>
                        <input type="text" name="lastNameUser" id="input-usuario" value= <%= locals.old ? old.lastNameUser : null %> > 
                    </div>
                    <div class="div">
                        <label id="label-usuario" class="labels-formulario">e-mail</label>
                        <input type="text" name="email" id="input-usuario" value= <%= locals.old ? old.email : null %> > 
                    </div>
                    <div class="div">
                        <label id="contraseña" class="labels-formulario">Contraseña</label>
                        <input type="password" name="password" id="password" >
                    </div>
                    <div class="div">
                        <label id="contraseña" class="labels-formulario">Confirmar contraseña</label>
                        <input type="password" id="password" >
                    </div>
                    <div class="new-product-button-add-image-div-container"> 
                        <label class="new-product-button-add-image-name">Agregar imágenes</label>
                        <input type="file" name="userImage" accept=".jpg" class="new-product-button-add-image-input">
                        
                    </div>
                    <button id="ingresar" type="submit">Registrar</button>
                </form> 
            </div>
        </main>
        <%- include('../partials/footer') %>
        <script src="https://kit.fontawesome.com/17464b966e.js" crossorigin="anonymous"></script>
    </body>
</html>