<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MaMeLi - Crear producto</title>
        <link rel="stylesheet" href="/css/shop.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/productForm.css">
        <link rel="stylesheet" href="/css/headerFooter.css">
    </head> 
<body>

    <%- include('../partials/header') %>

    <main id="login-main">
        <div class="prodFormContainer">
            <div id="div-icono">
                <i id="icono" class="fas fa-leaf"></i> 
            </div>
            <label id="bienvenida" class="labels-formulario">Nuevo producto</label>
            <form class="productForm" action="/product/create" method="POST" enctype="multipart/form-data"> 
                <div  class="ProductFormFirstLine">
                    <div class="prodFormName">
                        <label class="prodFormLabel" for="">Nombre</label>
                        <input id="product_name_input" class="prodFormInput" type="text" name="name" value= <%=locals.old? old.name: null%>>
                        <small style="color:red;"><%=locals.mensajeError&&mensajeError.name?mensajeError.name.msg:null%></small> 
                        <small id="name_error" style="color: blue;"></small>
                    </div>
                    <div class="prodFormCategory">
                        <label class="prodFormLabel" for="">Categoría</label>
                        <select name="category" id="category">                          
                            <option value="" disabled selected>Seleccione una categoría</option>
                            <% for(let i=0; i<category.length; i++){ %>
                                <% if (locals.old && old.category && old.category==category[i].id) { %>
                                    <option value="<%=category[i].id%>" selected><%=category[i].name%></option>
                                <% } else { %>
                                    <option value="<%=category[i].id%>"><%=category[i].name%></option>
                                <%}%>     
                            <%}%> 
                        </select>
                        <small style="color:red;"><%=locals.mensajeError&&mensajeError.category?mensajeError.category.msg:null%></small>
                        <small id="category_error" style="color: blue;"></small>
                    </div>
                </div>
                
                <div class="ProductFormSecondLine">
                    <div class="prodFormPrice">
                        <label class="prodFormLabel" for="">Precio</label>
                        <input id="product_price_input" class="prodFormInput" type="number" name="price" value= <%=locals.old? old.price: null%>>
                        <small style="color:red;"><%=locals.mensajeError&&mensajeError.price?mensajeError.price.msg:null%></small>
                        <small id="price_error" style="color: blue;"></small>
                    </div>
                </div>
                <div class="ProductFormThirdLine">
                    <div class="prodFormPrice">
                        <label class="prodFormLabel" for="">Stock disponible</label>
                        <input id="product_stock_input" class="prodFormInput" type="number" name="stock" value= <%=locals.old && old.stock? old.stock: null%>>
                        <small style="color:red;"><%=locals.mensajeError&&mensajeError.stock?mensajeError.stock.msg:null%></small>
                        <small id="stock_error" style="color: blue;"></small>
                    </div>
                </div>
                
                <div class="textArea-description">
                    <!-- <label class="prodFormLabel" for="">Descripción</label> -->
                    <label style="margin:auto" class="prodFormLabel" for="">Descripción</label>
                    <textarea class="prodFormInputInterest" name="description" id="" cols="30" rows="10"><%=locals.old && old.description? old.description: null%></textarea>
                </div>

                <div class="new-product-button-add-image-div-container">   
                    <label class="new-product-button-add-image-name">Agregar imágenes</label>
                    <input id="product_image_input" type="file" name="productImage" accept=".gif,.png,.jpeg,.bmp,.webp,.jpg" class="new-product-button-add-image-input">
                   
                </div>
                <div style="text-align: center;"> 
                    <small style="color:red;"><%=locals.mensajeError&&mensajeError.productImage?mensajeError.productImage.msg:null%></small>
                    <small id="image_error" style="color: blue;"></small>
                </div>
                <div class="productFormFourthLine">
                    <label for="">En exhibición</label>
                    <input type="checkbox" name="showing">
                    <button class="prodFormButton" type="submit">Confirmar</button>
                </div>
            </form> 
        </div> 
    </div>  
    </main>
   
    <%- include('../partials/footer') %>
    <script src="https://kit.fontawesome.com/17464b966e.js" crossorigin="anonymous"></script>

    <script src="/javaScript/createProduct.js"></script>

</body>
</html>